<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js"></script>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="index.html">System</a></li>
            <li><a href="counting.html">Counting</a></li>
            <li><a>History</a></li>
        </ul>
    </nav>
    </header>
    <div class="container">
        <h1>System Control</h1>
        <button onclick="system('ON')" class="button_start">Start</button>
        <button onclick="system('OFF')" class="button_stop">Stop</button>
    </div>      
</body>
</html>
